* {
  margin: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  margin-top: -21px;
}

header {
  background-color: #445;
}

header div.container {
  width: 50%;
  margin: auto;
  padding: 50px 30px;
  padding-top: 75px;
  text-align: center;
}

header h1, h2 {
  display: inline-block;
  text-align: left;
  margin-left: 20px;
}

header h1 {
  font-size: 60px;
  color: #fff;
  line-height: 1em;
}

header h2 {
  color: rgb(251, 134, 46);
}

header h2 br {
  display: block;
  margin: 10px 0;
  content: " ";
}

header ul {
  list-style: none;
  margin-top: 35px
}

header ul li {
  display: inline-block;
}

header ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-left: 25px;

  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  transition: color 200ms ease;
}

header ul li a:hover {
  color: #445;
  background-color: #fff;
}

/*Projects*/

article {
/*  height: 400px;*/
  height: 250px;
  background-color: #ddd;
  padding: 50px;
  position: relative;
}

article.projects {
  background-color: #fff;
  height: 100%
}

article.projects h2 {
  color: #445
}

article div.title {
  margin-top: 100px;
  text-align: center;
}

article div.title h1 {
  font-weight: lighter;
}

article div.title p {
  margin-top: 30px;
}

article div.content {
  display: none;
}

article div.content img {
  float: left;
}

article div.content p {
  width: 35%;
  float: right;
  font-size: 20px;
  line-height: 1.45em;
  color: #fff;
}

article div.content p.button {
  text-align: center;
  margin-top: 50px
}

article p.button a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;

  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;

  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

article p.button a:hover {
  background-color: #fff;
}

article#innboston p.button a:hover {
  color: #0855A1
}

article#avaant p.button a:hover {
  color: #900;
}

article div.content p.minimize.button {
  position: absolute;
  margin-top: -38px;
  margin-left: -276px;
}

article div.content p.minimize.button a {
  border-radius: 100px;
  padding: 0px 10px;
  font-size: 25px;
}

article#innboston {
  background-color: #0855A1;
}

article#innboston div.title {
  color: #fff;
}

article#avaant {
  background-color: #990000;
}

article#avaant div.title {
  color: #FACA33;
}

article#avaant img {
  border: 5px solid #fff;
}
